body {
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-weight: normal;
	font-family: "Roboto Medium", "Arial", sans-serif;
}
h1 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: normal;
	font-family: "Roboto Medium", "Arial", sans-serif;
	}
h2 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: normal;
	font-family: "Roboto Medium", "Arial", sans-serif;
	}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	}
.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid green;
	box-sizing: border-box;
}
.main-header {
	margin-bottom: 80px;
	outline: 2px solid red;
}
.main-header-top {
	padding-top: 27px;
	padding-bottom: 45px;
}
.index-logo {
	float: left;
	width: 139px;
	height: 56px;
	margin-right: 60px;
	outline: 2px solid yellow;
}
.main-navigation {
	float: left;
	width: 460px;
	outline: 2px solid yellow;
	margin-top: 27px;
}
 .main-navigation  ul {
 	padding: 0;
 	margin: 0; 
 }
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
}
.user-block {
	float: right;
	width: 95px;
	outline: 2px solid yellow;
	margin-top: 27px;
}
.slider {
	clear: both;
	outline: 2px solid yellow;
	margin-bottom: 80px;
}
.slider-item:nth-child(2), .slider-item:nth-child(3)  {
	display: none;
}
.slider-column-left {
	float: left;
	width: 400px;
}
.slider-column-right {
	float: right;
	width: 338px;
}
.features {
	outline: 2px solid yellow;
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.features-item:nth-child(3n) {
	margin-right: 0;
}
.index-content {
	outline: 2px solid yellow;
}
.index-content-row1 {
	margin-bottom: 60px;
}
.index-content-left {
	float: left;
	width: 630px;
	outline: 2px solid yellow;
}
.index-content-right {
	float: right;
	width: 240px;
	outline: 2px solid yellow;
}
.portfolio {
	margin-bottom: 90px;
	outline: 2px solid yellow;
}
.portfolio-list {
	font-size: 0;
	padding: 0;
	margin: 0;
}
.portfolio-list li {
	display: inline-block;
	padding: 45px 10px 35px;
	margin-right: 106px;
	vertical-align: middle;
	list-style: none;
}
.portfolio-list li:last-child {
	margin-right: 0;
}
.map {
	outline: 2px solid yellow;
}
.map img {
	width: 100%;
}
.main-footer {
	margin-top: 80px;
	outline: 1px soild red;
}
.write-us {
	display: none;
}
.footer-social {
	float: left;
	width: 240px;
	margin-right: 70px;
	outline: 2px solid yellow;
}
.footer-text-wrapper {
	float: right;
	width: 570px;
	outline: 2px solid yellow;
}
.header-slogan {
	width: 650px;
	margin: 0 auto;
	outline: 2px solid yellow;
	margin-bottom: 95px;
}
.sidebar {
	float: left;
	width: 240px;
	outline: 2px solid yellow;
}
.index-content-catalog {
	float: right;
	width: 560px;
	outline: 2px solid yellow;
}
.gallery {
	font-size: 0;
}
.gallery-item {
	display: inline-block;
	width: 240px;
  font-size: 14px;
	vertical-align: top;
	margin-right: 80px;
	margin-bottom: 80px;
}
.gallery-item:nth-child(2n) {
	margin-right: 0;
}
.gallery-sorting-tools {
	margin-bottom: 25px;
}
.gallery-sorting-tools p {
	float: left;
	width: 90px;
	margin: 0;
	margin-right: 40px;
}
.sorting-btn-wrapper {
	float: left;
	width: 310px;
	text-align: center;
}
.sorting-item-wrapper {
	float: right;
	width: 60px;
}
.gallery-paginator {
	margin-bottom: 80px;
}